.searchContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inputwrap {
  width: 50%;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem 0 1rem;
  border-radius: 0.8rem;
  background: tomato;
  box-sizing: border-box;
}
input {
  width: 120px;
  color: #ff6;
  font-family: inherit;
  border: 2px solid transparent;
  background-color: rgb(222, 214, 214);
  font-size: 19px;
  transition: width 0.7s;
}
.buttonSearch {
  width: 93px;
  height: 40px;
  color: rgba(217, 16, 194, 0.87);
  margin-top: 10px;
  border: 1px solid white;
  font-family: inherit;
  font-size: 20px;
  cursor: pointer;
  background-color: transparent;
  transition:
    background 0.5s,
    color 0.5s;
}

.buttonSearch:hover {
  background-color: white;
  color: black;
}
